@font-face {
    font-family: norseBold;
    src: url(assets/Norse-Bold.otf);
}

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body {
    display: flex;
    height: 100vh;
}

aside {
    display: flex;
    flex-direction: column;
    max-width: 35%;
    background-image: url("assets/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
}

aside > div:nth-child(1) {
    display: flex;
    justify-content: center;
    height: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 60%;
    background-color: rgba(0, 0, 0, 0.4);
}

img[src="assets/odin-lined.png"] {
    max-width: 25%;
}

aside > div:nth-child(1) > p {
    align-self: center;
    font-family: norseBold;
    font-size: 96px;
    color: white;
}

aside > p:nth-child(2) {
    margin-top: auto;
    align-self: center;
    color: white;
}

main {
    width: 65%;
}

main > section:nth-child(1) {
    height: 35%;
}

main > section:nth-child(2) {
    height: 30%;
}

main > section:nth-child(3) {
    height: 35%;
}